APP_NAME=Smart Faculty
APP_ENV=development
APP_DEBUG=true

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=smart_faculty
MYSQL_USER=root
MYSQL_PASSWORD=

JWT_SECRET_KEY=changer_cette_cle
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=15

SEUIL_REUSSITE_COURS=50
PONDERATION_MAX_COURS=100
SEUIL_RISQUE_MOYEN=35
SEUIL_RISQUE_ELEVE=70
DOSSIER_STOCKAGE_VALVE=stockage/valve
TAILLE_MAX_PIECE_JOINTE_VALVE_MB=10
EXTENSIONS_PIECES_JOINTES_VALVE=pdf,docx,xlsx,pptx,png,jpg,jpeg

FRONTEND_ORIGINS=http://localhost:3000,http://localhost:5000,http://localhost:52100,http://127.0.0.1:52100
